<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Form</title>
</head>
<body>
        <form method="post" action="/new" style="display:flex; gap:5px; margin:20px 5px">
        <label for="text">Text:</label>
        <input type="text" name="text" id="text">
        <label for="user">User:</label>
        <input type="user" name="user" id="user">
        <button type="submit">Submit</button><br>
</body>
</html>